.App {
  font-family: sans-serif;
  text-align: center;
  border: solid black 5px;
  height: 100vh;
  display: flex;
}
.employeePage {
  border: solid rgb(177, 113, 113) 5px;
  width: 50%;
}
.homepage {
  border: solid goldenrod 5px;
  width: 50%;
  display: flex;
  flex-direction: column;
}
.header {
  border: solid#89CFF0 5px;
  height: 10%;
  text-align: center;
}
.searchBar {
  border: solid green 5px;
  height: 10%;
}
.employeeList {
  border: solid #ac299a 5px;
  height: 80%;
}

.employeeListItem {
  display: flex;
  text-align: left;
  border: solid red 4px;
  height: 10%;
}
.employeeTitle {
  display: flex;
  flex-direction: column;
}
.employeeName {
  font-size: 1.5em;
  font-weight: bold;
}
.employeePhoto {
  margin-right: 10px;
  text-align: center;
  height: 5px;
}
